<div class="panel" ng-class="panelClass || 'panel-default'">
    <div role="tab" aria-selected="{{isOpen}}" class="row panel-heading" ng-keypress="toggleOpen($event)">
        <div class="col-xs-12">
            <h4 class="panel-title mostrarMas">
                <a role="button" data-toggle="collapse" href aria-expanded="{{isOpen}}" aria-controls="{{::panelId}}" tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" accordion-transclude="heading" ng-class="{'mostrarMenos': isOpen}"><span ng-class="{'text-muted': isDisabled}">{{heading}}</span></a>
            </h4>
            <p class="subtituloPanel">{{subheading}}</p>
        </div>
    </div>
    <div aria-labelledby="{{::headingId}}" aria-hidden="{{!isOpen}}" role="tabpanel" class="panel-collapse collapse" uib-collapse="!isOpen">
        <div class="panel-body row">
            <div class="col-xs-12" ng-transclude></div>
        </div>
    </div>
</div>
